/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/.DS_Store
public/images/
resources/.DS_Store
resources/views/.DS_Store
public/download_files/
public/screenshots/
public/avatars
.DS_Store
.idea/





